* {
	padding: 0;
	margin: 0;
}

.head {
	width: 100%;
	background: #242424;
}

/* 轮播 */
.pm {
	position: relative;
	left: 270px;
	width: 730px;
	height: 280px;
	overflow: hidden;
}

.jiao {
	position: absolute;
	width: 2920px;
}

.jiao li {
	float: left;
}

/* 按钮 */
/*控制按钮*/
.btns a {
	position: absolute;
	top: 45%;
	display: inline-block;
	padding: 10px;
	color: #fff;
	/*font-size:*/
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
}

.btns .prev {
	left: 230px;
}

.btns .next {
	right: 230px;
}

/*指示器
        */
.dots {
	position: absolute;
	bottom: 15px;
	left: 50%;
}

.dots span {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
}

.dots .on {
	background-color: red;
}

/* 轮播结尾 */
.an1 {
	position: absolute;
	width: 248px;
	height: 280px;
	top: 0;
	right: 270px;
	overflow: hidden;
}

.head-1 {
	width: 1100px;
	margin: 0 auto;
	display: flex;
}

.head-2 {
	width: 170px;
	height: 70px;
	background: url(../image/topbar.png);
	cursor: pointer;
}

.head-3 {
	padding: 0 20px;
	line-height: 70px;
	font-size: 14px;
	color: #ccc;
	position: relative;
}

.head-3 a {
	display: block;
	width: 100%;
	color: #ccc;
	text-decoration: none;
}

.head-3:hover {
	background: #000;
	color: #fff
}

.head-3:hover a {
	color: #fff
}

.head-3 .hot {
	width: 30px;
	height: 16px;
	position: absolute;
	top: 20px;
	right: -20px;
	background: url(../image/topbar.png);
	background-position: -190px 0
}

.head-3 .redsj {
	width: 12px;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
	background: url(../image/topbar.png) -225px 0;
	display: none
}

.hover {
	background: #000;
}

.hover a {
	color: #fff;
}

.hover .redsj {
	display: block
}

.head-4 {
	width: 158px;
	height: 32px;
	border-radius: 32px;
	background: #FFFFFF;
	margin-left: 50px;
	position: relative;
	margin-top: 20px;
}

.head-5 {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	color: #000000;
}

.head-4 input {
	width: 130px;
	border: none;
	position: absolute;
	right: 4px;
	top: 9px;
}

.head-6 {
	font-size: 12px;
	height: 32px;
	border-radius: 32px;
	margin-top: 20px;
	border: 1px solid #666666;
	line-height: 32px;
	color: #666666;
	margin-left: 20px;
	width: 90px;
	text-align: center;
}

.head-6:hover {
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.head-7 {
	font-size: 12px;
	margin: 30px 0 0 20px;
	color: #CCCCCC;
}

.head-7 :hover {
	color: #FFFFFF;
}

.headerred {
	padding: 5px 0;
	background: #c20c0c;
	margin-top: -1px;
	position: relative
}

.headerred .content {
	width: 1024px;
	margin: 0 auto;
}

.headerred .content .itemcon {
	height: 30px;
	margin-left: 170px;
	display: flex;
}

.headerred .content .itemcon .item {
	font-size: 12px;
	color: #fff;
	padding: 0 20px;
	line-height: 30px;
}

.headerred .content .itemcon .item :hover {
	background: rgba(0, 0, 0, .5);
	border-radius: 30px;
}

.headerred .content .itemcon .item span {
	padding: 3px 12px
}

.headerred .content .itemcon .item .hover {
	background: rgba(0, 0, 0, .5);
	border-radius: 30px;
}

#itemcon1 {
	display: none
}

.tiee-5 {
	background:url(../image/1.jpg);
	width: 100%;
	position: relative;
}

.tiee {
	width: 100%;
	height: 285px;
	background: url(../image/1.jpg)no-repeat;
	background-size: 100%;
	filter: blur(5px);
	position: absolute;
	top: 0;
}

.tiee-1 {
	width: 980px;
	margin: 0 auto;
	display: flex;
	position: relative;
	z-index: 9;
	overflow: none;
}

.tiee-2 {
	width: 730px;
	height: 285px;
	z-index: -1;
}

.download {
	width: 250px;
	height: 285px;
	background: url(../image/download.png);
	float: right;
	position: relative;
	z-index: 1;
}

.button {
	width: 254px;
	height: 68px;
	background: url(../image/download.png)buttom;
	position: absolute;
	bottom: 36px;
	left: 18px;
	cursor: pointer;
}

.button:hover {
	background: url(../image/download.png)bottom;
}

.tiee-3 {
	font-size: 50px;
	height: 285px;
	line-height: 285px;
	position: absolute;
	left: -50px;
	color: #000000;
}

.tiee-4 {
	font-size: 50px;
	height: 285px;
	line-height: 285px;
	position: absolute;
	right: -50px;
	color: #000000;
}

.remen {
	width: 100%;
	background: #F5F5F5;
}

.remen-1 {
	width: 980px;
	margin: 0 auto;
	background: #FFFFFF;
	display: flex;
}

.remen-2 {
	width: 730px;
	border-right: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
}

.remen-3 {
	border-bottom: #C20C0C 2px solid;
	/* display: flex; */
	padding: 10px;
	margin: 0 10px;
}

.remen-3 span {
	font-size: 20px;
}

.remen-3 a {
	padding: 0 10px;
	color: #242424;
	font-size: 12px;
}

.remen-3 a:last-child {
	float: right;
	line-height: 35px;
}

a {
	text-decoration: none;
}

.remen-4 {
	width: 140px;
	height: 204px;
	font-size: 14px;
	margin: 21px;
}

.remen-5 {
	width: 140px;
	height: 140px;
	background: url(../image/109951165145166144.jpg);
	position: relative;
}
.remen-5-1 {
	width: 140px;
	height: 140px;
	background: url(../image/109951165203334337.jpg);
	position: relative;
}
.remen-5-2 {
	width: 140px;
	height: 140px;
	background: url(../image/109951165211406094.jpg);
	position: relative;
}
.remen-5-3 {
	width: 140px;
	height: 140px;
	background: url(../image/109951165205466630.jpg);
	position: relative;
}
.remen-5-4 {
	width: 140px;
	height: 140px;
	background: url(../image/109951165181187586.jpg);
	position: relative;
}

.remen-6 {
	width: 140px;
	height: 27px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #000000;
	background: rgba(0, 0, 0, .5);
	display: flex;
}

.remen-6 span {
	line-height: 27px;
	font-size: 12px;
	color: #CCCCCC;
}

.remen-7 {
	width: 14px;
	height: 11px;
	background: url(../image/iconall.png)0px -24px;
	margin: 8px;
}

.remen-8 {
	width: 16px;
	height: 17px;
	background: url(../image/iconall.png)0px 0;
	margin: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.remen-8:hover {
	background: url(../image/iconall.png)0px -60px;
}

.remen-9 {
	margin: 5px 0;
}
.hh1{
	background: url(../image/icon.png)-31px -658px;
	width: 35px;
	height: 15px;
	float: left;
}
.xindie {
	width: 657px;
	height: 186px;
	margin: 0 auto;
	background: #F5F5F5;
	display: flex;
	padding-left: 25px;
	position: relative;
	border: 1px solid #dedede;
	overflow: hidden;
}
.jiao1{
	position: absolute;
	width: 2000px;
}
.xindie-1 {
	width: 118px;
	height: 100px;
	background: url(../image/coverall.png)0px -570px;
	position: relative;
}

.xindie-5 {
	width: 118px;
	height: 150px;
	padding-top: 20px;
	margin: 8px 5px;
	float: left;
}

.xindie-2 {
	width: 21px;
	height: 20px;
	background: url(../image/iconall.png)0px -86px;
	margin: 5px;
	position: absolute;
	bottom: 0;
	right: 20px;
	display: none;
}

.xindie-5:hover .xindie-2 {
	display: block;
}

.xindie-3 {
	width: 90%;
	line-height: 18px;
	overflow: hidden;
	font-size: 12px;
}

.xindie-4 {
	width: 90%;
	line-height: 18px;
	font-size: 12px;
	color: #666666;
}

.shang {
	border-bottom: #C20C0C 2px solid;
	/* display: flex; */
	padding: 10px;
	margin: 0 10px 20px 10px;
}

.hh {
	width: 30px;
	height: 40px;
	background: url(../image/index.png)-234px -163px;
}

.shang span {
	font-size: 20px;
}

.shang a {
	padding: 0 10px;
	color: #242424;
	font-size: 12px;
}

.shang a:last-child {
	float: right;
	line-height: 35px;
}

.jian-1 {
	position: absolute;
	left: 5px;
	line-height: 186px;
	font-weight: 900;
	font-size: 22px;
}

.jian-2 {
	position: absolute;
	right: 5px;
	line-height: 186px;
	font-weight: 900;
	font-size: 22px;
}

.bang {
	width: 689px;
	height: 472px;
	background: url(../image/index_bill.png);
	margin: 0 auto;
	display: flex;
}

.bang-1 {
	width: 230px;
	height: 472px;
}

.bang-1 img {
	margin: 20px 0 0 20px;
	border: 1px solid #D3D3D3;
}

.bang-2 {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.font {
	font-size: 14px;
	font-weight: 900;
}

.bang-3 {
	display: flex;
	margin-top: 10px;
}

.bang-4 {
	width: 22px;
	height: 22px;
	background: url(../image/index.png)-267px -205px;
	margin-right: 10px;
}

.bang-4:hover {

	background: url(../image/index.png)-267px -235px;

}

.bang-5 {
	width: 22px;
	height: 22px;
	background: url(../image/index.png)-300px -205px;
}

.bang-5:hover {

	background: url(../image/index.png)-300px -235px;

}

.biao {
	width: 230px;
	height: 352px;
	margin-top: 15px;
}

li {
	list-style-type: none;
}

.biao li {
	display: flex;
}

.biao li a {
	line-height: 32px;
	font-size: 12px;
	color: #000000;
	overflow: hidden;
}

.biao li a:hover {
	text-decoration: underline;
}

.biao-1 {
	width: 35px;
	height: 32px;
	text-align: center;
	color: #666;
	font-size: 16px;
	line-height: 32px;
	margin-left: 10px;
}
.biao li:hover .widt{
	display: block;
}
.widt{
	width: 70px;
	height: 20px;
	/* border: 1px solid #C20C0C; */
	margin-left: 30px;
	margin-top: 5px;
	/* display: flex; */
	display: none;
}
.widt1{
	background: url(../image/iconall.png) no-repeat 0 0px;
		width: 22px;
		height: 22px;
		float: left;
}
.widt2{
	background: url(../image/icon.png) no-repeat -21px -700px;
		width: 15px;
		height: 15px;
		margin-top: 2px;
		float: left;
}
.widt3{
	background: url(../image/icon.png)-44px -87px;
	width: 18px;
	height: 16px;
	margin-left: 11px;
	margin-top: 2px;
	float: left;
}
.cha {
	float: right;
	font-size: 12px;
	line-height: 32px;
	margin-right: 10px;
	cursor: pointer;
}

.yong {
	width: 250px;
	border-right: 1px solid #D3D3D3;
	;
}

.yong-1 {
	width: 248px;
	height: 126px;
	background: #E4E4E4;
	border: 1px solid #FFFFFF;
}

.yong-1 button {
	width: 100px;
	height: 31px;
	background: url(../image/index.png)0 -195px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 #8a060b;
	border: none;
	margin: 0 75px;
}

.yong-1 button:hover {
	background: url(../image/index.png)-110px -195px;
}

.yong-2 {
	width: 205px;
	margin: 0 auto;
	padding: 16px 0;
	line-height: 22px;
	font-size: 12px;
}

.ru {
	margin-top: 10px;
	padding: 0 20px;
}

.ru-1 {
	width: 210px;
	font-size: 12px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 27px;
}

.ru-1 a {
	color: #CCCCCC;
	float: right;
}

.tian {
	width: 210px;
	height: 62px;
	background: #FAFAFA;
	margin-top: 14px;
	display: flex;
	border: 1px solid #E9E9E9;
}

.tian:hover {
	background: #E4E4E4;
}

.tian-1 {
	margin: 10px 0 0 10px;
}

.tian-1 div:first-child {
	font-size: 14px;
}

.tian-1 div:last-child {
	font-size: 12px;
	color: #CCCCCC;
	margin-top: 10px;
}

.btn {
	width: 210px;
	height: 31px;
	color: #333;
	border-radius: 4px;
	border: 1px solid #666666;
	margin-top: 14px;
}

.re {
	margin-top: 20px;
	padding: 0 20px;
}

.re-1 {
	width: 210px;
	font-size: 12px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 27px;
}

.zhub {
	width: 230px;
	height: 40px;
	margin-top: 14px;
	display: flex;
}

.zhub-1 {
	margin: 0 0 0 10px;
}
.dv{
	width: 13px;
	height: 12px;
	display: block;
	float: right;
	/* border: 1px solid #8A060B; */
	background: url(../image/icon.png);
}
.zhub-1 div:first-child {
	font-size: 14px;
}

.zhub-1 div:last-child {
	font-size: 12px;
	color: #CCCCCC;
	margin-top: 5px;
}

.wei {
	width: 100%;
	height: 172px;
	background: #F2F2F2;
	border-top: 1px solid #666666;
	font-size: 12px;
	color: #666666;
}

.wei-1 {
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
}

.wei-2 {
	line-height: 24px;
}

.wei-2 a {
	color: #333333;
	padding: 5px;
}

.dl {
	position: absolute;
	right: 0;
	top: 45px;
	display: flex;
}

.dl-1 {
	width: 47px;
	height: 45px;
	background: url(../image/foot_enter_new.png);
	background-size: 110px 552px;
	margin: 0 auto;
}

.dl-2 {
	background-position: -63px -456.5px;
}

.dl-3 {
	width: 84px;
	height: 70px;
	margin-left: 10px;
}

.dl-4 {
	text-align: center;
}

.dl-5 {
	background-position: -63px -101px;
}

.dl-6 {
	background-position: 0 0;
}

.dl-7 {
	background-position: -60px -50px;
}

.dl-8 {
	background-position: 0 -101px;
}
